@import "tailwindcss";


/* body{
    font-family: "Roboto Flex", serif;
} */

body {
    font-family: "DM Sans", serif;
  }
  

.roboto {
    font-family: "Roboto Flex", sans-serif;
  }

.dm-mono{
    font-family: "DM Mono", serif;
}

