@import "tailwindcss";


/* body{
    font-family: "Roboto Flex", serif;
} */

body {
    font-family: "DM Sans", serif;
  }

.roboto {
    font-family: "Roboto Flex", sans-serif;
  }

.dm-mono{
    font-family: "DM Mono", serif;
}

.custom-overflow {
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-overflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

.custom-overflow::-webkit-scrollbar {
  width: 0px;
  background-color: #F5F5F5;
}

.custom-overflow::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}